* {
    margin: 0;
    padding: 0;
}


.header {
    min-height: 60px;
    background: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.header a {
    font-size: 20px;
    color: snow;
    border: 2px solid lightsteelblue;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
}
.header a[class='active'] {
    text-decoration: underline;
    color: red;
}
.footer {
    max-height: 20px;
    background-color: teal;
    color: snow;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 20px;
}
.outlet {
    width: 95%;
    margin: 0 auto;
    height: calc(100vh - 90px);
    overflow: hidden;
    overflow-y: auto;

}